#button {
  margin: 0;
}
#live-card {
  width: 10rem;
  border: none;
  height: 10rem;
  text-align: center;
  margin:10px;
  background-color: transparent;
  background-repeat:no-repeat;
  background-size: 100%;
}

#fish-name {
  margin-top: 40px;
}

.shark-tank, .graveyard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.shark-tank {
  background-color: lightskyblue;
}

#dead-card {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  width:10rem;
  height:10rem;
  text-align: center;
  background-color: lightgray;
  margin:10px;
}
