@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');

.App {
  text-align: center;
  margin: 0;
}

h1, h2 {
  font-family: 'Freckle Face', cursive;
  text-align: center;
}

.buttonDiv {
  margin: auto;
  text-align: center;
}
.appContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#live-card {
  width: 10rem;
  border: none;
  height: 10rem;
  text-align: center;
  margin:10px;
  background-color: transparent;
  background-repeat:no-repeat;
  background-size: 100%;
  font-family: 'Freckle Face', cursive;
  text-align: center;
}

#fish-name {
  margin-top: 40px;
}

.shark-tank, .graveyard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content:stretch;
  width: 49vw;
  height: 100%;
}

.shark-tank {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(186,229,236,1) 100%);
}

.graveyard {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(27,120,144,1) 35%, rgba(0,100,46,1) 100%);
}

#dead-card {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  width:10rem;
  height:10rem;
  text-align: center;
  background-color: lightgray;
  margin:10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Freckle Face', cursive;
  text-align: center;
}
